.toggle-prompt-button {
  position: absolute;
  z-index: 3;
  top: 0.5em;
  right: 4em;
  font-size: 1rem;
  color: lightgray;
  cursor: pointer;
}

.toggle-prompt-button-off {
  text-decoration: line-through
}
