.copy-button {
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 3em;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.4);
  cursor: pointer;
}

.interactive-button {
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 5em;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;

  &-off {
    text-decoration: line-through
  }
}

.task-list {
  list-style-type: none;
  padding-left: 0;
}

div[class~="language-rust"]:before {
  content: "rust"
}
