$grid-breakpoints: (
  'xs': 0,
  'sm': 420px,
  'md': 720px,
  'lg': 960px,
  'xl': 1280px
);

$primaryColor: #9A7ED8;
$accentColor: #FF6699;
$textColor: #2c3e50;
$codeBgColor: #282c34;
$borderColor: rgba(0, 0, 0, 0.12);

$navbarHeight: 64px;
$lineNumbersWrapperWidth: 3.5rem;
